@import "tailwindcss";

@theme {
  --keyframes-loading-bar: {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  };

  --animation-loading-bar: loading-bar 1.5s infinite ease-in-out;
  
  --color-blume-gold: #be9e70;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}